@import url('https://fonts.googleapis.com/css?family=Assistant');

*{
      font-family: 'Assistant', sans-serif;
      box-sizing: border-box;
}

body {
      margin: 0;
      padding: 0;
      background: url("wallpaper.jpg");
      height: 90vh;
}

#emojisContainer{
      width: 100%;
}

.falling{
      animation: fall 2s linear 1;
      font-size: 2em;
      position: absolute;
      right: 0;
      opacity: 0;
}

.spinning{
      animation: rotate 1s linear infinite;
}

@keyframes fall {
      0% {
            top: -10px;
            opacity: 1;
      }
      100% {
            top: 90%;
            opacity: 0;
      }
}

@keyframes rotate {
      0% {
            transform: rotate(0deg);
      }
      100% {
            transform: rotate(360deg);
      }
}

.main_container{
      margin: 50px;
      background: rgba(255, 255, 255, 0.5);
      padding: 20px;
}

.container{
      display: flex;
      flex-direction: column;
}

input[type=text]{
      width: 350px;
      margin-bottom: 10px;
}

input[type=submit]{
      width: 100px;
      background: #FFAD85;
      color: #FFFBE8;
      border: none;
      height: 1.5em;
      border-radius: 8px;
}

input[type=submit]:hover{
      cursor: pointer;
}

.tree_container{
      display: none;
}

.hierarchy_li{
      font-weight: bold;
      margin: 5px;
}

.hierarchy_li:hover{
      cursor: pointer;
}

.hierarchy_li_bad{
      color: red;
}

.hierarchy_li_good{
      color: green;
}


.hierarchy_header:hover{
      cursor: pointer;
}

#shraktzi{
      position: absolute;
      bottom: 10px;
      left: 0;
}